/openwrt-imagebuilder-ar71xx-generic.Linux-x86_64
/openwrt-imagebuilder-ar71xx-generic.Linux-x86_64.tar.xz
/openwrt-imagebuilder-x86-64.Linux-x86_64
/openwrt-imagebuilder-x86-64.Linux-x86_64.tar.xz
/openwrt-imagebuilder-ramips-mt7621.Linux-x86_64
/openwrt-imagebuilder-ramips-mt7621.Linux-x86_64.tar.xz
